h1 {
    padding: 40px 0 60px;
}

h2 {
    font-size: 30px;
    margin-bottom: 25px;
}

h3 {
    margin: 15px 0;
}

p {
    margin-bottom: 35px;
    line-height: 20px;
}

hr {
    
}

.text-center {
    text-align: center;
}

.container {
    background-color: #defffd;
}

.container img {
    height: 180px;
    margin: 15px 0;
}

.image-background {

}