h1 {
    padding: 25px 0 60px;
    font-size: 40px;
}

h2 {
    font-size: 30px;
    margin: 25px 0 30px;
}

h3 {
    margin: 15px 0;
}

p {
    margin-bottom: 35px;
    line-height: 20px;
}

hr {
    margin-bottom: 40px;
    border-style: dotted;
    border-width: 3px;
    border-color: #2804cc;
}

main {
    background-color: #a6c0e7;
}

.text-center {
    text-align: center;
}

.container img {
    height: 180px;
    margin: 15px 0;
}

.image-background {
    margin: 0 auto;
    width: 225px;
    height: 225px;
    background-color: #2804cc;
    border-radius: 100%;
}

/* Responsive - tablet/desktop */
@media screen and (min-width: 768px) {
    .container p {
        padding: 0 25px;
    }
}

/* Responsive - smartphone */
@media screen and (max-width: 767px) {
    .container p {
        padding: 0 25px;
    }
}
